@import "variables"; 
@import "pageButton";
@import "articleCard"; 
@import "footer";
@import "main"; 

body{
  padding-top:5rem; 
}


/*
#movies-search-container{
  box-sizing: border-box;
  height: 100px;
}

#search-icon{
  left:-30px;
  top:25%;
}
*/

.search-form{
  height:$height-50
}

.search-form-icon{
  width: $height-50;
  font-size:25px
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
